.masonry {
  /* Masonry container */
  column-count: 3;
  column-gap: 1em;
  margin: 0 7rem;
}

.item {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .masonry {
    margin: 0 3rem;
  }
}

@media screen and (max-width: 700px) {
  .masonry {
    margin: 0 1rem;
    column-count: 1;
  }
}
